@model Avtobuska.ViewModels.IndexViewModel

@await Html.PartialAsync("Carousel")


@{
    ViewData["Title"] = "Home Page";
}

<hr />
<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("DestinacijaPartial", Model.Destinacija)
    </div>
    <div class="col-md-3">
        @await Html.PartialAsync("LinijaPartial", Model.Linija)
    </div>
    <div class="col-md-3">
        @await Html.PartialAsync("BiletPartial", Model.Bilet)
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}