@model Avtobuska.Models.Bilet


@if(Model.Linija != null)
{


<form asp-controller="Home" asp-action="Reserviraj" method="post">
    <div>
        Vreme Na trgnuvanje: @Model.Linija.VremeNaTrgnuvanje.ToString("HH:mm")
    </div>

    <div>
        Destinacija: @Model.Destinacija.Mesto.Name
    </div>

    <div>
        Tip na bilet:
        @if (Model.Povraten)
        {
            <span>POVRATEN</span>
        }
        else
        {
            <span>NEPOVRATEN </span>
        }
    </div>
    <div>
        Cena:
        @if (Model.Povraten)
        {
            <strong>@Model.Destinacija.CenaNaPovraten</strong>
        }
        else
        {
            <strong>@Model.Destinacija.CenaNaEdenPravec</strong>
        }
    </div>

    <div>
        <button type="submit" class="btn btn-default">Резервирај</button>
    </div>
</form>

}