@model Avtobuska.Models.Bilet


@if(Model.Linija != null)
{


<form asp-controller="Home" asp-action="Reserviraj" method="post">
    <div>
        Време на тргнување: @Model.Linija.VremeNaTrgnuvanje.ToString("HH:mm")
    </div>

    <div>
        Дестинација: @Model.Destinacija.Mesto.Name
    </div>

    <div>
        Тип на билет:
        @if (Model.Povraten)
        {
            <span>Повратен</span>
        }
        else
        {
            <span>Еден правец </span>
        }
    </div>
    <div>
        Цена:
        @if (Model.Povraten)
        {
            <strong>@Model.Destinacija.CenaNaPovraten</strong>
        }
        else
        {
            <strong>@Model.Destinacija.CenaNaEdenPravec</strong>
        }
    </div>

    <div>
        <button type="submit" class="btn btn-default">Резервирај</button>
    </div>
</form>

}