@model Avtobuska.ViewModels.DestinacijaViewModel

<form asp-controller="Home" asp-action="Index" method="get">
    <div class="form-group">
        <label asp-for="@Model.MestoID" class="control-label">Дестинација</label>
        <select asp-for="@Model.MestoID" class="form-control" asp-items="Model.MestaList"></select>
    </div>
    <div>
        <button class="btn btn-default">Избери дестинација</button>
    </div>
</form>