@model Avtobuska.Models.Linija

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Linija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VremeNaTrgnuvanje" class="control-label"></label>
                <input asp-for="VremeNaTrgnuvanje" class="form-control" />
                <span asp-validation-for="VremeNaTrgnuvanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrevoznikID" class="control-label"></label>
                <select asp-for="PrevoznikID" class="form-control" asp-items="ViewBag.PrevoznikID"></select>
                <span asp-validation-for="PrevoznikID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojNaSedista" class="control-label"></label>
                <input asp-for="BrojNaSedista" class="form-control" />
                <span asp-validation-for="BrojNaSedista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peron" class="control-label"></label>
                <input asp-for="Peron" class="form-control" />
                <span asp-validation-for="Peron" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
